[versions]
compileSdk = "34"
targetSdk = "34"
minSdk = "21"

[libraries]
android-gradle = { module = "com.android.tools.build:gradle", version = "8.7.2" }
kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version = "2.1.0" }
